{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{% load static %}
<link href="{% static '/css/table.css' %}" rel="stylesheet">
<section>
    <h1>Portfolio Values</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Field</th>
                    <th>Amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for data in forms %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.Field }}</td>
                    <td>{{ data.Amount }}</td>
                    <td><a href="{% url 'delete' data.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}